{%extends 'base.html' %}
{%block content%}



    <div class="card text-danger text-center">
        <img src="https://www.newgenapps.com/hubfs/Imported_Blog_Media/eCommerce-Website-Components-photo.jpg" class="card-img" style="filter:blur(10px);" alt="...">
        <div class="card-img-overlay mt-5">
          <h5 class="card-title text-info fs-1">Welcome To our E-shop</h5>
          <br><br>
          <h1>It is more than just sales.</h1><br />
          <h2>Looking for a hassle-free shopping experience from the comfort of your own home? Look no further than our e-shop! With a wide variety of products and easy navigation, you're sure to find what you're looking for. Plus, our secure checkout and speedy delivery ensure a stress-free shopping experience every time.</h2>
          <br>
         <a href="/" class="btn btn-primary">Shop Now</a>
        </div>
      </div>
{%endblock%}