{%extends 'base.html' %}

{%block content%}
<br><br><br>
<div class="col-md-6 offset-md-3 border border-dark">
    <h1>Add Product</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/add_product" method="POST" enctype="multipart/form-data" class="d-flex flex-column justify-content-center align-items-start p-2">
            {%csrf_token%}
            {{form.as_p}}
            <br>
            {{pic.as_p}}
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
</div>
{%endblock%}